<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length <= 0) { %>
                <h1>Nothing there!</h1>
            <% } else { %>
                <ul>
                    <% orders.forEach(order => { %>
                        <li>
                            <h3>Order Id: <%= order.id %></h3>
                            <ul>
                                <% order.products.forEach(product => { %>
                                    <li>Product Title: <%= product.title %></li>
                                    <li>Quantity: <%= product.orderItem.quantity %></li>
                                <% }); %>
                            </ul>
                        </li><hr>
                    <% }); %>
                </ul>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>